vti_encoding:SR|utf8-nl
vti_author:SR|FUSIONBOB\\Andrew Brown
vti_modifiedby:SR|FUSIONBOB\\Andrew Brown
vti_timelastmodified:TR|02 May 2006 22:08:14 -0000
vti_timecreated:TR|02 May 2006 22:08:14 -0000
vti_cacheddtm:TX|02 May 2006 22:08:14 -0000
vti_filesize:IR|1057
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{E438D356-D535-4203-BB3A-E4622791BEFC}
vti_backlinkinfo:VX|
