vti_encoding:SR|utf8-nl
vti_author:SR|FUSIONBOB\\Andrew Brown
vti_modifiedby:SR|FUSIONBOB\\Andrew Brown
vti_timelastmodified:TR|02 May 2006 22:08:14 -0000
vti_timecreated:TR|02 May 2006 22:08:14 -0000
vti_cacheddtm:TX|02 May 2006 22:08:14 -0000
vti_filesize:IR|4852
vti_cachedlinkinfo:VX|S|blbnr.gif S|blphb.gif S|blphbp.gif S|blhome.gif S|blnext.gif S|blprev.gif S|blup.gif S|blglb.gif S|blpvb.gif S|blpvbp.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/blank/blbnr.gif FSUS|_themes/blank/blphb.gif FSUS|_themes/blank/blphbp.gif FSUS|_themes/blank/blhome.gif FSUS|_themes/blank/blnext.gif FSUS|_themes/blank/blprev.gif FSUS|_themes/blank/blup.gif FSUS|_themes/blank/blglb.gif FSUS|_themes/blank/blpvb.gif FSUS|_themes/blank/blpvbp.gif
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{C64ADF94-8DDD-412D-82AD-6AA929E7563D}
vti_backlinkinfo:VX|
