vti_encoding:SR|utf8-nl
vti_author:SR|FUSIONBOB\\Andrew Brown
vti_modifiedby:SR|FUSIONBOB\\Andrew Brown
vti_timelastmodified:TR|02 May 2006 22:08:14 -0000
vti_timecreated:TR|02 May 2006 22:08:14 -0000
vti_cacheddtm:TX|02 May 2006 22:08:14 -0000
vti_filesize:IR|1400
vti_cachedlinkinfo:VX|S|blbnr.gif S|blrule.gif S|blbull1.gif S|blbull2.gif S|blbull3.gif S|blphbp.gif S|blphb.gif S|blpvbp.gif S|blpvb.gif S|blhome.gif S|blup.gif S|blprev.gif S|blnext.gif S|blbull1.gif S|blbull2.gif S|blbull3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/blank/blbnr.gif FSUS|_themes/blank/blrule.gif FSUS|_themes/blank/blbull1.gif FSUS|_themes/blank/blbull2.gif FSUS|_themes/blank/blbull3.gif FSUS|_themes/blank/blphbp.gif FSUS|_themes/blank/blphb.gif FSUS|_themes/blank/blpvbp.gif FSUS|_themes/blank/blpvb.gif FSUS|_themes/blank/blhome.gif FSUS|_themes/blank/blup.gif FSUS|_themes/blank/blprev.gif FSUS|_themes/blank/blnext.gif FSUS|_themes/blank/blbull1.gif FSUS|_themes/blank/blbull2.gif FSUS|_themes/blank/blbull3.gif
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{36EE8D4E-EB3B-4DA3-B987-E045A77C5329}
vti_backlinkinfo:VX|
