vti_encoding:SR|utf8-nl
vti_author:SR|FUSIONBOB\\Andrew Brown
vti_modifiedby:SR|FUSIONBOB\\Andrew Brown
vti_timelastmodified:TR|02 May 2006 22:08:14 -0000
vti_timecreated:TR|02 May 2006 22:08:14 -0000
vti_cacheddtm:TX|02 May 2006 22:08:14 -0000
vti_filesize:IR|10631
vti_cachedlinkinfo:VX|S|blglb.gif S|blbkgnd.gif S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/blank/blglb.gif FSUS|_themes/blank/blbkgnd.gif FSUS|_themes/blank/blank.gif
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{1DAC4540-54FC-48D9-AEEF-632E9D130FC5}
vti_backlinkinfo:VX|
